{{#with address}}
<span class="addy-view__line1__container">
	{{address1}}
</span>
<br />
{{#if address2}}
<span class="addy-view__line2__container">
	{{address2}}
</span>
<br />
{{/if}}
<span class="addy-view__line3__container">
	{{#if city() && state()}}
	<span class="addy-view__city-state__container">
		{{city}}, {{state().toUpperCase()}}
	</span>
	{{/if}}
	{{#if !city() && state()}}
	<span class="addy-view__state__container">
		{{state().toUpperCase()}}
	</span>
	{{/if}}
	{{#if city() && !state()}}
	<span class="addy-view__city__container">
		{{city}}
	</span>
	{{/if}}
	<span class="addy-view__postal__container">
		{{postalCode}}
	</span>
	{{#if $parent.showCountry}}
	<span class="addy-view__country__container">
		{{country}}
	</span>
	{{/if}}
</span>
{{/#with}}
